:root{
    --c-primary: #e67e22;
    --c-primary-light: #f4f4f4;
    --c-gray: #555555;
    --c-hover: #CF6D17;
    --c-border:#e8e8e8;
    --c-border-dark:#d4d4d4;
    --c-footer :#333333;
    --c-footer-text :#888888;



}


// ///////////////////////
// CHANGING DEFAULTS
//////////////////////////

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-family:  Arial, sans-serif;
    font-size: 62.5%;
    box-sizing: border-box;
}

body{
    line-height: 1.45;
    font-size: 1.8rem;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
}

img{
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6{
    color: var(--c-gray);
    font-weight: 300;
    text-transform: uppercase;

}

// ///////////////////////
// HELPER CLASSES
//////////////////////////


.mg-right-md{
    margin-right: 1rem;
}

.icon-big{
    font-size: 6rem;
    color: var(--c-primary);
}


.icon-small{
    font-size: 2.5rem;
    color: var(--c-primary);

    &--footer{
    color: var(--c-footer-text);

    }
}


.ion-social-twitter:hover{
    transition: color .3s ease-out;
    color: #00ACED;
}

// ///////////////////////
// HEADER SECTION
//////////////////////////

.header{
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)),
    url('/img/hero.jpg'),; 
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;

    &__content{
        width: 90%;
        max-width:120rem;
        height: 100vh;
        margin: 0 auto;
        display: grid;
        grid-template-rows: max-content 1fr;
        align-items: center;
        align-content: center;
    }

    &__top{
        padding: 2rem 0;
        display: flex;
        justify-content: space-between;

        &__logo{
            height: 10rem;

            &--black{
                display: none;
            }
        }

        &__nav{
            display: flex;
            align-items: center;

            &__item{
                color: #fff;
                font-weight: 200;
                text-transform: uppercase;
                margin-right: 2rem;
                padding: .8rem 0;
                transition: border .3s ease-in;
                border-bottom: 2px solid transparent;

                &:hover{
                border-bottom: 2px solid var(--c-primary);

                }

            }
        }
    }

    &__hero{
        margin-bottom: 10%;

        &__heading{
            color: #fff;
            font-size: 4.8rem;
            font-weight: 300;
            text-transform: uppercase;
            letter-spacing: 2px;
            line-height: 1.2;
        }


    }


}


// ///////////////////////
// BTNS
//////////////////////////


.btn{
    padding: 1rem 3.2rem;
    border-radius: 22rem;
    display: inline-block;
    border: 1px solid var(--c-primary);
    transition: background-color .3s ease-in,
                color .3s ease-in;


    &--yellow{
        background-color: var(--c-primary);
        color: #fff;

        &:hover{
            background-color: var(--c-hover);
        }
    }

    &--transparent{
        color: var(--c-primary);

        &:hover{
            background-color: var(--c-hover);
            color: #fff;
        }
    }

    &--narrow{
        padding: .6rem 2.6rem;
        font-size: 2rem;
    }
}


// ///////////////////////
// SECTION INTRO
//////////////////////////  

.section-intro{
    width: 90%;
    max-width: 80rem;
    margin: 0 auto;

    &--testimonials{
        max-width: 90rem;
    }
    &__heading{
        font-size: 3.8rem;
        text-align: center;
        color: var(--c-gray);
        padding-bottom: 2.4rem;
        margin-top: 0;
        position: relative;

        &--testimonials{
            color: #fff;
        }

        &::after{
            content: '';
            width: 10rem;
            height: 2px;
            background-color: var(--c-primary);
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }


    &__para{
        font-size: 2rem;
        color: var(--c-gray);
    }
}




// ///////////////////////
// FEATURES
//////////////////////////  


.features{
    padding: 8rem 0;

    &__tab__container{
        display: grid;
        width: 90%;
        max-width: 120rem;
        margin: 0 auto;

        display: grid;
        gap: 4rem;
        grid-template-columns: repeat(4, 1fr);
        
        padding: 4rem 0;
    }


    &__tab{

        &__heading{
            margin: 0;
            font-size: 2.4rem;
        }

        &__para{
            color: var(--c-gray);
        }
    }
}



// ///////////////////////
// MEALS
//////////////////////////  

.meals{
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    &__item{
        object-fit: cover;
        overflow: hidden;
        background-color: rgba(0, 0, 0, .4);
        transition: background-color .3s ease-in;


        &:hover{
            background-color: rgba(0, 0, 0, .0);
        }

        &:hover &__img{
            transform: scale(1.1);
        }

        &__img{
            transition: transform .3s ease-in;
            transform: scale(1.3);
            position: relative;
            z-index: -11;
        }
    }
}



// ///////////////////////
// APP SECTION
//////////////////////////  

.app{
    padding: 8rem 0;
    background-color: var(--c-primary-light);


    &__download{
        width: 90%;
        max-width: 105rem;
        margin: 0 auto;
        padding: 4rem 0;
        display: grid;
        gap: 8rem;
        grid-template-columns: repeat(2, 1fr);



    
        &__img{
            height: 45rem;
            justify-self: end;
            & img{
                height: 100%;
            }
        }

        &__text{
            padding-top: 3rem;

            &__point{
                display: flex;
                align-items: center;
                margin-bottom: 5rem;
                font-size: 2rem;
                color: var(--c-gray);


                &__number{
                    padding: 2.5rem;
                    line-height: 1;
                    font-size: 3rem;
                    color: var(--c-primary);
                    margin-right: 2rem;
                    border: 2px solid var(--c-primary);
                    border-radius: 50%;
                    position: relative;
                
                    &--text{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }


            }

            &__img{
                height: 4rem;
                margin-top: 8rem;

                & img{
                    height: 100%;
                } 
            }
        }
    }
}

// ///////////////////////
// CITIES SECTION
//////////////////////////  


.cities{
    padding: 8rem 0;

    &__tab{
        &__container{
            width: 90%;
            max-width: 120rem;
            margin: 0 auto;
            padding: 3rem 0;
            display: grid;
            gap: 4rem;
            grid-template-columns: repeat(4, 1fr);
        }

        &__heading{
            font-size: 2.2rem;
            margin: 1rem 0 .8rem;
        }

        &__details{
            display: grid;
            align-items: center;
            font-size: 2rem;
            color: var(--c-gray);
            grid-template-columns: 12% 1fr;

            & i{
                justify-self: center;
                margin-right: 1rem;
            }

            &__text--link {
                color: var(--c-primary);
                text-decoration: underline;
            }
            
        }


    }

}

.testimonial{
    padding: 8rem 0;
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .8)),
    url('/img/back-customers.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover; 

    &__tab{
        &__container{
            width: 90%;
            max-width: 120rem;
            margin: 0 auto;

            padding: 2rem 0;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 3rem;
        }

        &__text{
            color: #fff;
            font-size: 2.2rem;
            font-style: italic;
            position: relative;
            padding-top: 5rem;
            
            &::before{
                content: '\201C';
                font-size: 9rem;
                display: block;
                line-height: 1;
                position: absolute;
                top: 0;
                left: -5px;
            }
        }

        &__customer{
            display: flex;
            align-items: center;
            margin-top: 2rem;


            &__img{
                width: 4.5rem;
                border-radius: 50%;
                margin-right: 2rem;
            }

            &__name{
                font-style: 2.2rem;
                color: #fff;
                font-style: italic;
            }
        }
    }
}



.packages{
    padding: 8rem 0;
    background-color: var(--c-primary-light);


    &__tab{

        &__container{
            width: 90%;
            max-width: 120rem;
            margin: 0 auto;
            padding: 2rem;
            font-size: 2rem;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 3rem
        }

        &__top{
            background-color: #FCFCFC;
            padding: 1rem;
            border-top-left-radius: .3rem;
            border-top-right-radius: .3em;

        }
        &__title{
            font-size: 2.2rem;
            text-transform: uppercase;
            color: var(--c-gray);
            margin-bottom: .5rem;
        }

        &__price{
            font-size: 2rem;
            color: var(--c-primary);

            &--bold{
                font-size: 6rem;
                margin-right: 1rem;
            }
        }

        &__detail{
            font-size: 1.6rem;
            font-weight: 200;
            color: var(--c-gray);
        }

        &__features{
            background-color: #fff;
            color: var(--c-gray);
            padding: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border-top: 1px solid var(--c-border);
            border-bottom: 1px solid var(--c-border);


            &__item{
                &__icon{
                    margin-right: 1rem;
                }
            }
        }

        &__btn{
            padding: 1.5rem;
            background-color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            border-bottom-left-radius: .3rem;
            border-bottom-right-radius: .3em;

        }

    }


}


.signup{
    padding: 8rem 0;


        &__form{
            width: 90%;
            max-width: 70rem;
            margin: 0 auto;
            padding: 1rem 0;

            &__input{
                padding: .8rem;
                border-radius: .3rem;
                border: 1px solid var(--c-border-dark);

                &--newsletter{
                    margin-right: 1rem;
                }
            }

            &__label--textarea{
                align-self: flex-start;
            }

            &__submit{
                margin-left: 35%;
                margin-top: 1rem;
            }
        }

            .form-control {
                display: grid;
                align-items: center;
                grid-template-columns: 35% 1fr;
                margin-bottom: 1.5rem;
                font-size: 2rem;
                color: var(--c-gray);
            }
}

.footer{
    padding: 6rem 0;
    background-color: var(--c-footer);

    &__content{
        width: 90%;
        max-width: 120rem;
        margin: 0 auto;
        color: var(--c-footer-text);
        text-align: center;
        font-size: 1.6rem;
    }

    &__nav{

        display: flex;
        &__container{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 4rem;
        }

        &__item{
            color: var(--c-footer-text);
            margin-right: 2rem;
        }
    }

    &__social__item{
        margin-right: 2rem;

        &--last{
            margin-right: 0;
        }
    }

    &__copyright{
        line-height: 1.2;
    }

    &__credits{
        margin-top: 2rem;

        &__icon{
            color: #E80000;
        }
    }

}