:root {
  --c-primary: #e67e22;
  --c-primary-light: #f4f4f4;
  --c-gray: #555555;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-family: Arial, sans-serif;
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  line-height: 1.45;
  font-size: 1.8rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--c-gray);
  font-weight: 300;
  text-transform: uppercase;
}

.mg-right-md {
  margin-right: 1rem;
}

.icon-big {
  font-size: 6rem;
  color: var(--c-primary);
}

.header {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("/img/hero.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/img/hero.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}

.header__content {
  width: 90%;
  max-width: 120rem;
  height: 100vh;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: max-content 1fr;
      grid-template-rows: -webkit-max-content 1fr;
      grid-template-rows: max-content 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.header__top {
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__top__logo {
  height: 10rem;
}

.header__top__logo--black {
  display: none;
}

.header__top__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__top__nav__item {
  color: #fff;
  font-weight: 200;
  text-transform: uppercase;
  margin-right: 2rem;
}

.header__hero {
  margin-bottom: 10%;
}

.header__hero__heading {
  color: #fff;
  font-size: 4.8rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.2;
}

.btn {
  padding: 1rem 3.2rem;
  border-radius: 22rem;
  display: inline-block;
  border: 2px solid var(--c-primary);
}

.btn--yellow {
  background-color: var(--c-primary);
  color: #fff;
}

.btn--transparent {
  color: var(--c-primary);
}

.section-intro {
  width: 90%;
  max-width: 80rem;
  margin: 0 auto;
}

.section-intro__heading {
  font-size: 3.8rem;
  text-align: center;
  color: var(--c-gray);
  padding-bottom: 2.4rem;
  position: relative;
}

.section-intro__heading::after {
  content: '';
  width: 10rem;
  height: 2px;
  background-color: var(--c-primary);
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.section-intro__para {
  font-size: 2rem;
  color: var(--c-gray);
}

.features {
  padding: 8rem 0;
}

.features__tab__container {
  display: -ms-grid;
  display: grid;
  width: 90%;
  max-width: 120rem;
  margin: 0 auto;
  display: grid;
  gap: 4rem;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  padding: 2rem;
}

.features__tab__heading {
  margin: 0;
  font-size: 2.4rem;
}

.features__tab__para {
  color: var(--c-gray);
}

.meals {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.meals__item {
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: background-color .3s ease-in;
  transition: background-color .3s ease-in;
}

.meals__item:hover {
  background-color: rgba(0, 0, 0, 0);
}

.meals__item:hover .meals__item__img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.meals__item__img {
  -webkit-transition: -webkit-transform .3s ease-in;
  transition: -webkit-transform .3s ease-in;
  transition: transform .3s ease-in;
  transition: transform .3s ease-in, -webkit-transform .3s ease-in;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  position: relative;
  z-index: -11;
}

.app {
  padding: 8rem 0;
  background-color: var(--c-primary-light);
}

.app__download {
  width: 90%;
  max-width: 105rem;
  margin: 0 auto;
  padding: 4rem 0;
  display: -ms-grid;
  display: grid;
  gap: 8rem;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.app__download__img {
  height: 45rem;
  -ms-grid-column-align: end;
      justify-self: end;
}

.app__download__img img {
  height: 100%;
}

.app__download__text {
  padding-top: 3rem;
}

.app__download__text__point {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5rem;
  font-size: 2rem;
  color: var(--c-gray);
}

.app__download__text__point__number {
  padding: 2.5rem;
  line-height: 1;
  font-size: 3rem;
  color: var(--c-primary);
  margin-right: 2rem;
  border: 2px solid var(--c-primary);
  border-radius: 50%;
  position: relative;
}

.app__download__text__point__number--text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.app__download__text__img {
  height: 4rem;
  margin-top: 8rem;
}

.app__download__text__img img {
  height: 100%;
}
/*# sourceMappingURL=style.css.map */